<%- include('includes/head.ejs') -%>
<link rel="stylesheet" href="/css/form.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" >

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <div class="form-align">
            <% if(message){ %>
            <div class="alert alert-success" role="alert">
                <%= message %>
            </div>
            <% } %>
            <h1>User Profile</h1>
            <form class="main-form" action="/profile" method="post" enctype="multipart/form-data">
                <div class="form-control">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="<%= user.name %>" />
                </div>

                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="<%= user.email %>" />
                </div>

                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" />
                </div>

                <div class="form-control">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" id="phone" value="<%= user.phone %>" />
                </div>

                <div class="form-control">
                    <label for="image">Profile Image</label>
                    <input type="file" name="image" id="image" />
                </div>                

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="submit" value="Update" />
            </form>
        </div>
    </main>

<%- include('includes/footer.ejs') %>